<h2>User Preference</h2>

<%= form_tag("/workouts", method: "post") do %>
<div>
  <h3><%= label_tag(:first_name) %>
  <h3><%= text_field_tag(:first_name) %>
</div>

<div>
  <h3><%= label_tag(:last_name) %></h3>
  <h3><%= text_field_tag(:last_name) %></h3>
</div>

<div>
  <h3><%= label_tag(:gender) %></h3>
  <h3><%= text_field_tag(:gender) %></h3>
</div>

<div>
  <h3><%= label_tag(:partner_gender) %></h3>
  <h3><%= text_field_tag(:partner_gender) %></h3>
</div>
<div>
  <h3><%= label_tag(:image) %></h3>
  <h3><%= text_field_tag(:image) %></h3>
</div>
<div>
  <h3><%= label_tag(:age) %></h3>
  <h3><%= text_field_tag(:age) %></h3>
</div>
<div>
  <h3><%= label_tag(:relationship_status) %></h3>
  <h3><%= text_field_tag(:relationship_status) %></h3>
</div>
<div>
  <h3><%= label_tag(:user_exp) %></h3>
  <h3><%= text_field_tag(:user_exp) %></h3>
</div>
<div>
  <h3><%= label_tag(:gym) %></h3>
  <h3><%= text_field_tag(:gym) %></h3>
</div>
<div>
  <h3><%= label_tag(:bio) %></h3>
  <h3><%= text_field_tag(:bio) %></h3>
</div>
<div>
  <h3><%= submit_tag("Submit") %></h3>
</div>

<% end %>
