
<div class="row col-md-8 col-md-offset-2">
     <div class="panel-heading-primary"><h1><center>Create a Chatroom</center></h1></div>
    <div class="well">
      <div class="chatroom-form">
        <%= form_tag("/chatrooms", method: 'post') do %>
          <div class="input-group">
            <span class="input-group-addon">topic:</span>
            <%= text_field_tag :topic, nil, class: "form-control"%>
          </div>
          <%= submit_tag "Save", class: "btn btn-primary", id: "create-chatroom" %>
        <% end %>
      </div>
    </div>

    <ul class="list-unstyled">
        <% @users.each do |user| %>
            <% if current_user.chatroom(user.id) %>
                <li><h3><%= link_to user.user_name, "/chatrooms/#{current_user.chatroom(user.id).id}" %></h3></li>
            <% else %>
                <li><h3><%= link_to user.user_name, "/chatrooms?user_id=#{user.id}", method: 'post' %></h3></li>
            <% end %>
        <% end %>
    </ul>
</div>
