
<div class="border-form-div">

  <section class="stats">
    <%= render 'shared/stats' %>
  </section>

  <% if @hide_follow_button == false %>
    <div id="follow_form">
    <% if current_user.following?(@user) %>
      <%= render partial: 'unfollow' %>
    <% else %>
      <%= render partial: 'follow' %>
    <% end %>
    </div>
  <% end %>
<div class= avatar-show>
<%= image_tag @user.photo_url unless @user.photo.blank? %>
</div>
<center><h2><%= @user.first_name %></h2></center>
<h4>User name: <%= @user.user_name %></h4>
<h4>Gender: <%= @user.gender %></h4>
<h4>Searching for workout partners that are: <%= @user.partner_gender %></h4>
<h4>Relationship status: <%= @user.relationship_status %></h4>
<h4>Zipcode: <%= @user.zip_code %></h4>
<h4>Age: <%= @user.age %></h4>
<h4>User Experience: <%= @user.user_exp %></h4>
<h4>City: <%= @user.city %></h4>
<h4>State:<%= @user.state %></h4>
<h4>Activity: <%= @user.activities.map(&:name).join(", ") %></h4>
<h4>Bio: <%= @user.bio %></h4>
<a class="btn btn-primary" href= "#" onclick="history.go(-1)" role="button">Back To Search</a>
</div>
