<br /> <br /> <br /> <br />  <br /> <br />
<div class="border-form-div">

<div class="stats">
<a href=<%= "/users/#{@users.id}/following" %> >
  <strong id="following" class="stat">
    <%= @users.following.count %>
  </strong>
  following
</a>

<a href="/users/#{@users.id}/followers">
  <strong id="followers" class="stat">
    <%= @users.followers.count %>
  </strong>
  followers
</a>
</div>

<h2><%= @users.first_name %></h2>
<h4>User name: <%= @users.user_name %></h4>
<h4>Gender: <%= @users.gender %></h4>
<h4>Searching for workout partners that are: <%= @users.partner_gender %></h4>
<h4>Relationship status: <%= @users.relationship_status %></h4>
<h4>Zipcode: <%= @users.zip_code %></h4>
<h4>Age: <%= @users.age %></h4>
<h4>User Experience: <%= @users.user_exp %></h4>
<h4>City: <%= @users.city %></h4>
<h4>State:<%= @users.state %></h4>
<h4>Bio: <%= @users.bio %></h4>
</div>
